# Maintained via Ansible , last update on  {{ ansible_date_time.weekday }} {{ ansible_date_time.date }} at {{ ansible_date_time.time }} {{ ansible_date_time.tz }}.

$ModLoad imudp
$UDPServerRun 514
$UDPServerAddress 127.0.0.1

$template hapee,"%timegenerated% %msg%\n"

*.warn -/var/log/hapee/hapee_all-errors.log;hapee      # capture all facility.warning and higher in one place and continue

local1.* -/var/log/hapee/hapee-global.log;hapee
& stop

local2.info -/var/log/hapee/hapee_stats.log;hapee
& stop

local3.=notice -/var/log/hapee/hapee_frontend.log;hapee
& stop

local3.info -/var/log/hapee/hapee_access.log;hapee
& stop

local4.info -/var/log/hapee/hapee_backend.log;hapee
& stop
