# Maintained via Ansible , last update on  {{ ansible_date_time.weekday }} {{ ansible_date_time.date }} at {{ ansible_date_time.time }} {{ ansible_date_time.tz }}.

LogFile = /var/log/hapee/hapee_backend.log
*OnlyHost
*ApplyStdDate
