# Maintained via Ansible, last update on  {{ ansible_date_time.weekday }} {{ ansible_date_time.date }} at {{ ansible_date_time.time }} {{ ansible_date_time.tz }}.

peers loadbalancers
  {% for actual in hapee.actuals %}
  peer {{ actual.name }} {{ actual.address }}:1234
  {% endfor %}



{% for frontend in hapee.frontends %}

# ================================================================================================ #
#
#                                   {{ frontend.name }} - Frontend Service
#
# ================================================================================================ #

frontend {{ frontend.name }}-fe
  # log frontend activies
  log                             127.0.0.1 local3

  # frontend to handle incoming http requests
  bind                            {{ frontend.address }}:{{ frontend.port|default(hapee.default.frontend_port) }}
  bind                            {{ frontend.address }}:443 ssl crt {{ frontend.cert }}{% if frontend.ssl_version is defined %} {{ frontend.ssl_version }}{% endif %}

  {% if frontend.tcp_mode is defined %}
  #
  mode tcp
  {% endif %}

  #
  {% if frontend.redirect is defined %}
  # force ssl redirect
  # returns true when the front connection is made via ssl transport
  acl secured                     ssl_fc

  # fetch and match the host header from the http request
  acl granted                     hdr(Host) -i -m sub     {{ frontend.realm  }}

  # redirect to https if initial request is http
  http-request redirect           scheme https code 301   if !secured

  # use defined backend server if host header request matches domain
  use_backend                     {{ frontend.name }}-be  if secured granted
  default_backend                 {{ frontend.name }}-be
  {% else %}
  # use default backend if all acls are false
  default_backend                 {{ frontend.name }}-be
  {% endif %}

{% endfor %}

#
# ------------------------------------BACKENDS------------------------------------------------------
#

{% for backend in hapee.backends %}

# ================================================================================================ #
#
#                                   {{ backend.name }} - Backend Service
#
# ================================================================================================ #

backend {{backend.name}}-be
  # log backend activites
  log                             127.0.0.1 local4

  #  sets ssl enabled header
  http-request    set-header      X-SSL-Enabled   true  if { ssl_fc }

  #  insert cookie containint backend server name (testing purposes only)
  cookie          SERVERID        insert indirect nocache

  #  server health-check
  option          httpchk         GET {{ backend.httpchk }}
  http-check      expect string   {{ backend.string }}

  # tcp mode
  {% if backend.tcp_mode is defined %}
  mode tcp
  {% endif %}

  #  The "disabled" keyword starts the server in the "disabled" state. That means
  #+ that it is marked down in maintenance mode, and no connection other than the
  #+ ones allowed by persist mode will reach it
  
  {% if backend.disabled is defined %}
  disabled
  {% endif %}

  # backend host specific variable checks
  {% if backend.timeout is defined %}
    timeout server  {{ backend.timeout }}
  {% endif %}

  {% if backend.keepalive is defined %}
    timeout http-keep-alive {{ backend.keepalive }}
  {% endif %}

  {% for server in backend.servers %}
    # backend server, health-check and cookie name
    server  {{ server.name }} {{ server.address }}:{{ backend.port|default(hapee.default.backend_port) }} check {% if backend.chk_port is defined %}port {{ backend.chk_port }} {% endif %}cookie {{ server.name }}
  {% endfor %}

{% endfor %}

#
# --------------------------------------------------------------------------------------------------
#

