# Maintained via Ansible , last update on  {{ ansible_date_time.weekday }} {{ ansible_date_time.date }} at {{ ansible_date_time.time }} {{ ansible_date_time.tz }}.

if $programname contains 'hapee' then /var/log/hapee/hapee-services.log
if $programname contains 'Keepalived' then /var/log/hapee/hapee-services.log
& stop